boto==2.49.0
boto3==1.21.23
botocore==1.24.23
bs4==0.0.1
Flask
html5lib
keras==2.7.0
lxml
matplotlib
nltk
numpy==1.22.2
opencv-python
pandas==1.4.1
path==13.1.0
pep8==1.7.1
pickleshare==0.7.5
Pillow
regex
scikit-image
scikit-learn
scipy
seaborn==0.10.1
six==1.15.0
sklearn==0.0
Werkzeug==1.0.1
